@use '../utils' as*;

.image {
  position: relative;
  width: 80%;
  height: 35rem;
  margin: 0 auto;

  @include mq(lg) {
    width: 45%;
    height: 35rem;
    margin: -12rem 0 0;
    padding: 0 14rem;
  }
}
