@use '../utils' as*;

.newsletter {
  position: relative;
  padding: 2rem;
  margin: 5rem 3rem;
  border-radius: border-radius(m);
  box-shadow: box-shadow(main);
  overflow: hidden;

  @include mq(lg) {
    padding: 5rem;
    margin: 5rem 14rem;
  }

  @include pseudo() {
    background: linear-gradient($main-color 10%, $green-color);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    z-index: -1;
  }

  @include pseudo($location: after) {
    background: linear-gradient($green-color 10%, $main-color);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    z-index: -1;
  }

  form {
    margin: 4rem auto 0;
    max-width: 60rem;
    @include flex(column);

    @include mq(lg) {
      flex-direction: row;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
      height: 6rem;
      padding: 0 1rem;
      border-radius: border-radius(s);
      font-size: font-size(m);
      color: $dark-color;

      @include mq(lg) {
        width: 70%;
        padding: 0 3rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &::placeholder {
        font-size: font-size(l);
        font-weight: font-weight(bold);
        color: $gray-color;
      }
    }

    button {
      width: 100%;
      height: 6rem;
      border-radius: border-radius(s);
      margin-top: 1rem;

      @include mq(lg) {
        width: 30%;
        margin-top: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
