@use '../utils' as *;

%btn {
  display: inline-block;
  outline: none;
  border: none;
  line-height: 1;
  font-size: font-size(m);
  font-family: inherit;
  white-space: nowrap;
  cursor: pointer;
  @extend %transition;
}

.btn--primary {
  @extend %btn;
  padding: 2rem 4rem;
  font-weight: font-weight(bold);
  border-radius: border-radius(round);
  background: linear-gradient(168deg, $main-color 32%, $green-color 32%, $main-color);
  background-size: 100%;
  color: $bg-color;

  &:hover {
    background-size: 300%;
  }
}

.btn--secondary {
  @extend %btn;
  padding: 2rem 4rem;
  font-weight: font-weight(bold);
  background: $main-transparent;
  color: $main-color !important;

  &:hover {
    background: $main-color;
    color: $bg-color !important;
  }
}

.btn--tertiary {
  position: relative;
  @extend %btn;
  padding: 0.5rem 0;
  background: transparent;
  color: $main-color;

  &:hover::after {
    opacity: 1;
  }

  @include pseudo(before, '\f054', absolute, 50%, initial, 1rem, 1.5rem) {
    right: -1.2rem;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }

  @include pseudo(after, '', absolute, 0, initial, 70%, 100%) {
    right: -1.5rem;
    background: $main-transparent;
    opacity: 0;
    @extend %transition;
  }
}

.btn-quaternary {
  @extend %btn;
  background: $main-color;
  color: $bg-color;
  font-weight: font-weight(bold);
  font-size: font-size(l);
  text-align: center;

  &:hover {
    background: $green-color;
  }
}
